.shadow-0 {
  background: #fff;
  border-radius: 2px;
  display: block;
  float: left;
  height: 150px;
  margin: 1rem;
  position: relative;
  width: 150px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.shadow-1 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.shadow-1:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.shadow-2 {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.shadow-2:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.shadow-3 {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.shadow-3:hover {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.shadow-4 {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.shadow-4:hover {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.shadow-5 {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

@font-face {
  font-family: "cycloregular";
  src: url("../font/cyclo-webfont.woff2") format("woff2"), url("../font/cyclo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img,
embed,
object,
video {
  max-width: 100%; }

nav a,
button {
  min-width: 48px;
  min-height: 48px; }

a {
  text-decoration: none; }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden; }

html {
  scroll-behavior: smooth; }

figure {
  -webkit-margin-before: 0% !important;
  -webkit-margin-after: 0% !important;
  -webkit-margin-start: 0% !important;
  -webkit-margin-end: 0% !important;
  margin: 0% !important;
  padding: 0% !important;
  bottom: -4px; }

img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%; }

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */ }

body {
  font-family: "Quicksand", sans-serif; }

header h1 {
  font-family: "cycloregular", sans-serif; }

#container-title-mobile {
  display: block;
  position: relative; }

#title-mobile {
  display: block;
  float: left; }

#title-desktop {
  display: none; }

#menu-bar-desktop {
  display: none; }

#menu-bar-mobile {
  display: block;
  width: 40%;
  font-size: 1.7em;
  float: right;
  text-align: right; }

#menu-bar-mobile li {
  float: right;
  margin-left: 10px; }

#header-center {
  display: none; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 10%;
  display: inline-block;
  z-index: 1;
  padding: 0 5% 0 5%;
  background-color: #ffffff;
  z-index: 3;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

#header-left {
  padding-top: 2%;
  padding-left: 0px; }

.logo {
  width: 1.25em;
  height: 1.25em; }

#title-mobile {
  font-size: 2em;
  font-weight: 700; }

.header-solid h1 {
  margin: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

li,
i {
  color: #0cbeb9; }

.container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%; }

#start-text {
  margin: 27.5% auto 5% auto;
  width: 90%;
  height: 40%;
  position: relative;
  display: block;
  text-align: center; }

#start-text p {
  font-size: 2em;
  font-weight: 600;
  color: #616161; }

#spotlight-start-text {
  font-size: 2em;
  font-weight: 600;
  color: #25afab; }

#start-text-desktop {
  display: none; }

#start-text-mobile {
  display: block; }

/*---- NUMBER OF SLIDE CONFIGURATION ----*/
.start-wrapper {
  width: 100%;
  height: 100%;
  position: relative; }

.start-wrapper input {
  display: none; }

.start-inner {
  width: 400%;
  line-height: 0; }

.start-inner article {
  width: 25%;
  float: left;
  position: relative; }
  .start-inner article img {
    width: 100%; }

/*---- SET UP CONTROL ----*/
.start-slider-prev-next-control {
  display: none; }

.start-slider-dot-control {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  z-index: 2; }
  .start-slider-dot-control label {
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ffffff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .start-slider-dot-control label:hover {
      background: #cccccc;
      border-color: #cccccc; }

/* Slider Styling */
.start-slider-wrapper {
  width: 100%;
  overflow: hidden;
  background: #fff;
  background: #fcfff4;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out; }
  .start-slider-wrapper .start-inner {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1); }

/*---- SET POSITION FOR SLIDE ----*/
#start-slide1:checked ~ .start-slider-prev-next-control label:nth-child(2)::after, #start-slide2:checked ~ .start-slider-prev-next-control label:nth-child(3)::after, #start-slide3:checked ~ .start-slider-prev-next-control label:nth-child(4)::after, #start-slide4:checked ~ .start-slider-prev-next-control label:nth-child(1)::after, #start-slide2:checked ~ .start-slider-prev-next-control label:nth-child(1)::after, #start-slide3:checked ~ .start-slider-prev-next-control label:nth-child(2)::after, #start-slide4:checked ~ .start-slider-prev-next-control label:nth-child(3)::after, #start-slide1:checked ~ .start-slider-prev-next-control label:nth-child(4)::after {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin: 0;
  line-height: 38px;
  font-size: 3em;
  display: block;
  color: #777; }

#start-slide1:checked ~ .start-slider-prev-next-control label:nth-child(2)::after, #start-slide2:checked ~ .start-slider-prev-next-control label:nth-child(3)::after, #start-slide3:checked ~ .start-slider-prev-next-control label:nth-child(4)::after, #start-slide4:checked ~ .start-slider-prev-next-control label:nth-child(1)::after {
  content: "\f105";
  padding-left: 15px; }

#start-slide1:checked ~ .start-slider-prev-next-control label:nth-child(2), #start-slide2:checked ~ .start-slider-prev-next-control label:nth-child(3), #start-slide3:checked ~ .start-slider-prev-next-control label:nth-child(4), #start-slide4:checked ~ .start-slider-prev-next-control label:nth-child(1) {
  display: block;
  float: right;
  margin-right: 5px; }

#start-slide2:checked ~ .start-slider-prev-next-control label:nth-child(1), #start-slide3:checked ~ .start-slider-prev-next-control label:nth-child(2), #start-slide4:checked ~ .start-slider-prev-next-control label:nth-child(3), #start-slide1:checked ~ .start-slider-prev-next-control label:nth-child(4) {
  display: block;
  float: left;
  margin-left: 5px; }

#start-slide2:checked ~ .start-slider-prev-next-control label:nth-child(1)::after, #start-slide3:checked ~ .start-slider-prev-next-control label:nth-child(2)::after, #start-slide4:checked ~ .start-slider-prev-next-control label:nth-child(3)::after, #start-slide1:checked ~ .start-slider-prev-next-control label:nth-child(4)::after {
  content: "\f104";
  padding-left: 8px; }

#start-slide1:checked ~ .start-slider-dot-control label:nth-child(1), #start-slide2:checked ~ .start-slider-dot-control label:nth-child(2), #start-slide3:checked ~ .start-slider-dot-control label:nth-child(3), #start-slide4:checked ~ .start-slider-dot-control label:nth-child(4) {
  background: #333; }

#start-slide1:checked ~ .start-slider-wrapper .start-inner {
  margin-left: 0%; }

#start-slide2:checked ~ .start-slider-wrapper .start-inner {
  margin-left: -100%; }

#start-slide3:checked ~ .start-slider-wrapper .start-inner {
  margin-left: -200%; }

#start-slide4:checked ~ .start-slider-wrapper .start-inner {
  margin-left: -300%; }

#services {
  background-color: #ffffff;
  width: 100%; }

#container-service-descripion {
  padding: 10% 5% 10% 5%;
  display: block;
  width: 100%;
  font-size: 1.7em;
  font-weight: 100;
  color: #ffffff;
  text-align: left;
  background-color: #25afab; }

#container-service-descripion a {
  margin-top: 1%;
  transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear; }

/*#container-service-descripion a:hover {
  cursor: pointer;
  font-size: 1.05em;
}*/
.container-service-text {
  padding: 2% 5% 2% 5%;
  font-size: 1.4em;
  font-weight: 600;
  color: #616161;
  background-color: #ffffff; }

#spotlight-service-text {
  color: #d10641;
  font-size: 1.8em;
  text-align: center; }

#about {
  font-size: 1.2em;
  font-weight: 400;
  color: #ffffff;
  background-color: #ffffff; }

#about-image {
  background-color: #25afab; }

#container-about-text {
  padding: 2% 5% 2% 5%;
  background-color: #25afab; }

.spotlight-about-text {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 5%; }

#clients {
  padding: 10% 5% 10% 5%;
  display: block;
  width: 100%;
  font-weight: 100;
  color: #ffffff;
  text-align: left;
  background-color: #25afab;
  text-align: center; }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

#blog-images-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #313131;
  font-weight: 500;
  font-size: 1em; }

#blog {
  background-color: #ffffff; }

#before-last-article-blog {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

#last-article-blog {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  font-size: 1.3em; }

#blog-text-container {
  width: 100%;
  padding: 2% 5% 2% 5%;
  font-size: 1.7em;
  font-weight: 500;
  color: #616161;
  background-color: #ffffff;
  text-align: center; }

#spotlight-blog-text {
  color: #313131;
  font-weight: 600;
  transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear; }

#spotlight-blog-text:hover {
  cursor: pointer;
  font-size: 1.1em; }

#contact {
  position: relative;
  width: 100%;
  height: 35%;
  background-color: #d10000;
  color: #ffffff;
  padding: 2% 5% 2% 5%;
  font-family: "Quicksand"; }

#container-logo-contact {
  display: block;
  position: relative;
  width: 15%;
  height: 100%;
  float: left;
  margin-right: 2%; }

#container-text-contact {
  display: block;
  position: relative;
  margin-top: -2%;
  width: 50%;
  height: 100%;
  float: left;
  font-size: 1.2em; }

#container-ul-contact {
  display: block;
  position: relative;
  width: 30%;
  height: 100%;
  float: right; }

#container-ul-contact ul li i {
  color: #ffffff; }

#footer-contact {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 4% 0% 2% 0%;
  font-size: 0.8em; }

@media screen and (min-width: 1008px) {
  figure {
    bottom: 0px; }
  header {
    padding: 0%;
    background: rgba(255, 255, 255, 0.25);
    max-height: none; }
  .header-top-left {
    padding-top: 2% !important;
    padding-left: 5% !important; }
  #header-left {
    padding-top: 0.4%;
    padding-left: 5%; }
  .container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto; }
  .header-blur {
    -moz-box-shadow: inset 0 -10px 10px -10px white;
    -webkit-box-shadow: inset 0 -10px 10px -10px white;
    box-shadow: inset 0 -10px 10px -10px white;
    transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear; }
  .header-blur a {
    color: #414141; }
  .header-blur:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: -1;
    filter: blur(2px);
    -moz-filter: blur(2px);
    -webkit-filter: blur(2px);
    -o-filter: blur(2px);
    transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear; }
  .header-solid {
    background-color: #ffffff;
    transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear; }
  .header-solid a {
    color: #616161; }
  header h1 a {
    color: #414141; }
  #title-mobile {
    display: block;
    width: 40%;
    float: left; }
  #title-desktop {
    display: block; }
  #menu-bar-desktop {
    display: block; }
  #menu-bar-mobile {
    display: none; }
  #header-center {
    display: block; }
  #container-header {
    position: relative;
    width: 100%;
    height: 100%; }
  .header-top-left {
    float: left;
    display: block;
    z-index: 3;
    width: 25%; }
  .header-left {
    height: 60px;
    display: block;
    z-index: 3;
    float: left;
    color: #616161 !important; }
  #title-desktop {
    display: block;
    margin-top: 5.5px;
    font-size: 2.75em; }
  .logo {
    font-size: 0.5em; }
  #title-mobile {
    display: none; }
  .header-top-rigth {
    width: 70%;
    float: right;
    display: block;
    z-index: 3;
    margin-right: 5%; }
  .header-rigth {
    height: 60px;
    display: block;
    z-index: 4;
    float: right;
    color: #616161 !important;
    margin-right: 5%; }
  .header-button {
    width: 70%;
    float: right;
    display: block;
    z-index: 3;
    margin-right: 5%; }
  .header-center {
    height: 60px;
    display: block;
    z-index: 3;
    float: left;
    color: #616161 !important; }
  .header-button,
  #menu {
    float: right; }
  #menu ul {
    margin-left: 30px;
    margin-top: 1.5px; }
  #menu li {
    float: left; }
  #menu li a {
    display: block;
    text-align: center;
    font-weight: 400;
    padding: 16px;
    text-decoration: none;
    font-size: 1.25em; }
  #menu li a:hover {
    color: #25afab; }
  .header-top-rigth li {
    float: right; }
  .header-top-rigth li a i {
    display: block;
    text-align: center;
    font-size: 1.5em;
    padding: 6px;
    text-decoration: none;
    color: #414141; }
  .header-top-rigth li a i:hover {
    color: #25afab; }
  .header-rigth li {
    float: right; }
  .header-rigth li a i {
    display: block;
    text-align: center;
    font-size: 1.5em;
    padding: 6px;
    text-decoration: none;
    color: #616161; }
  .header-rigth li a i:hover {
    color: #25afab; }
  #header-rigth ul {
    padding-right: 10px;
    margin-top: 12px; }
  main {
    position: relative;
    width: 100%;
    height: 100%; }
  #start-text {
    width: 90%;
    height: 90%;
    position: absolute;
    display: block;
    text-align: center;
    z-index: 1;
    margin: 22% 4.5%; }
  #start-images img {
    margin-top: -100px;
    margin: 0% !important;
    padding: 0% !important;
    display: block; }
  #start-text p {
    font-size: 3em;
    font-weight: 600;
    color: #ffffff; }
  #spotlight-start-text {
    font-size: 3.25em;
    font-weight: 600;
    color: #25afab; }
  #start-text-desktop {
    display: inline-block;
    margin: 0 auto; }
  #start-text-mobile {
    display: none; }
  #container-about-text {
    top: 0px;
    position: absolute;
    width: 35%;
    height: 99.5%;
    right: 0;
    background-color: rgba(37, 175, 171, 0.5); }
  #container-service-descripion {
    padding: 4.65% 5% 4.65% 5%;
    display: block;
    width: 50%;
    height: 10%;
    font-size: 1.8em;
    font-weight: 100;
    color: #25afab;
    text-align: left;
    background-color: #ffffff;
    float: left; }
  #container-service-descripion a {
    margin-top: 1%;
    transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear; }
  #container-service-descripion a:hover {
    cursor: pointer;
    font-size: 1.05em; }
  .container-service-text {
    width: 50%;
    height: 10%;
    padding: 2% 5% 2% 5%;
    display: block;
    font-size: 1.4em;
    font-weight: 600;
    color: #25afab;
    background-color: #ffffff;
    float: left; }
  #spotlight-service-text {
    color: #25afab;
    font-size: 1.8em;
    text-align: center; }
  #about-image {
    background-color: #d10641; }
  footer {
    position: relative;
    width: 100%;
    height: 100%; }
  .container {
    display: block;
    float: left; }
  .container::after {
    clear: both; }
  #contact {
    height: auto; }
  #container-logo-contact {
    display: block;
    position: relative;
    width: 15%;
    height: 100%;
    float: left;
    margin-right: 2%; }
  #container-text-contact {
    display: block;
    position: relative;
    margin-top: 0.2%;
    width: 50%;
    height: 100%;
    float: left;
    font-size: 2em; }
  #container-ul-contact {
    display: block;
    position: relative;
    margin-top: 3%;
    width: 20%;
    height: 100%;
    float: right;
    font-size: 1.5em; }
  #footer-contact {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0%;
    font-size: 1.2em; } }

@media screen and (min-width: 1366px) {
  #container-about-text {
    padding: 2% 2% 2% 2%;
    width: 25%;
    height: 99.5%;
    left: 0; } }
